<template>
  <section class="content">
    <div v-if="!checkout || !product"
      class="errorRequest">Não consegui fazer a requisição, server off</div>
    <div class="product-image">
      <img v-if="product" :src="product.image" :alt="product.title">
    </div>
    <div v-if="checkout && checkout.availableCoupons
      && checkout.availableCoupons.length > 0" class="cupons">
      <h3>cupons</h3>
      <div class="option">
        <div class="radio">
          <input type="radio" name="cupons" id="none"
            class="form-radio" value="" v-model="couponSelectId" checked>
          <label for="none">não usar cupom</label>
        </div>
      </div>
      <div v-for="item in checkout.availableCoupons" :key="item.id" class="option">
        <div class="radio">
          <input type="radio" name="cupons" id="dois" :value="item.id"
            class="form-radio" v-model="couponSelectId">
          <label for="dois">{{ item.title }}</label>
        </div>
        <div class="discount">- R$ {{ item.discount }},00</div>
      </div>
    </div>
    <div v-if="checkout && product" class="resume">
      <h3>resumo</h3>
      <ul>
        <li>
          <span class="title">valor original</span>
          <span class="value">R$ {{ product.price }},00</span>
        </li>
        <li v-if="couponSelectId">
          <span class="title">cupom</span>
          <span class="value discont">- R$ {{ couponDiscount }},00</span>
        </li>
        <li>
          <span class="title">frete</span>
          <span class="value">R$ {{ checkout.shippingPrice }},00</span>
        </li>
        <li>
          <span class="title">total</span>
          <span class="value bold">R$ {{ total }},00</span>
        </li>
      </ul>
    </div>
    <section class="butons">
      <button v-on:click="startModal(2)" class="cancel">cancelar</button>
      <button v-on:click="checkOut()" class="confirm">confirmar</button>
    </section>
  </section>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      product: null,
      checkout: null,
      couponSelectId: '',
    };
  },
  computed: {
    couponDiscount: function couponDiscount() {
      const couponSelectId = this.couponSelectId ? this.couponSelectId : null;
      let couponValue = 0;
      if (couponSelectId && this.checkout && this.checkout.availableCoupons.length) {
        const findCoupon = this.checkout.availableCoupons
          .find(value => value.id === couponSelectId);
        couponValue = findCoupon.discount;
      }
      return couponValue;
    },
    total: function total() {
      const productPrice = this.product && this.product.price
        ? this.product.price : 0;
      const shippingPrice = this.checkout && this.checkout.shippingPrice
        ? this.checkout.shippingPrice : 0;
      return (productPrice - this.couponDiscount) + shippingPrice;
    },
  },
  methods: {
    checkOut: function checkOut() {
      const couponId = this.couponSelectId
        ? this.couponSelectId : 0;

      axios.post(`http://localhost:3000/api/checkouts/${couponId}`)
        .then(() => {
          this.$emit('changeModal', 1);
        }).catch(() => {
          this.$emit('changeModal', 2);
        });
    },
    startModal: function startModal(type) {
      this.$emit('changeModal', type);
    },
  },
  mounted() {
    axios.get('http://localhost:3000/api/checkouts/1')
      .then((resp) => {
        this.product = resp.data.product;
        this.checkout = resp.data.checkout;
      });
  },
};

</script>

<style lang="scss">
  .content {
    width: 100%;
    min-height: 280px;
    .errorRequest {
      font-size: 14px;
      min-height: 300px;
      color: #7D7A77;
      text-align: center;
      margin-top: 10px;
    }
    h3 {
        font-size: 16px;
        font-weight: 700;
        color: #5B5855;
    }
    .product-image {
      width: 100%;
      background: #ffffff;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      img {
        width: 120px;
        height: 120px;
      }
    }
    .cupons {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 30px;
      .option {
        width: 100%;
        margin: 20px 0px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        label {
          width: 100%;
          margin-left: 15px;
          font-weight: 300;
          font-size: 14px;
          color: #7D7A77;
          cursor: pointer;
        }
        .discount {
          font-weight: 300;
          font-size: 14px;
          color: #E85657;
        }
        .form-radio {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          display: inline-block;
          position: relative;
          background: #ffffff;
          border: 1px solid #E4E1DF;
          color: #666;
          top: 5px;
          height: 20px;
          width: 20px;
          border-radius: 50px;
          cursor: pointer;
        }
        .form-radio:checked::before
        {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50px;
            background: #F77274;
            left: 4px;
            content: '';
            top: 4px;
        }
      }
    }
    .resume {
      margin-top: 30px;
      margin-left: 20px;
      margin-right: 20px;
      ul {
        width: 100%;
        li {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin: 25px 0px;
          span.title {
            color: #7D7A77;
            font-size: 14px;
            font-weight: 300;
          }
          span.value {
            color: #5B5855;
            font-weight: 300;
            font-size: 14px;
          }
          span.bold {
            color: #5B5855;
            font-weight: 700;
          }
          span.discont {
            color: #E85657;
          }
        }
      }
    }
    .butons {
      width: 100%;
      border-top: solid 2px #F4F2F0;
      display: flex;
      justify-content: space-around;
      align-items: center;

      button {
        width: 100%;
        max-width: 172px;
        height: 46px;
        cursor: pointer;
        margin: 12px 0px;
      }

      button.cancel {
        background: #ffffff;
        color: #F77274;
        border: 1px solid #F4F2F0;
        box-shadow: 0px 2px 0px #F4F2F0;
        border-radius: 3px;
        font-size: 14px;
      }
      button.confirm {
        background: #F77274;
        color: #ffffff;
        border: none;
        box-shadow: 0px 3px 0px #D26769;
        border-radius: 3px;
        font-size: 14px;
      }
    }
  }

</style>
