<template>
  <header class="header">
      <img src="@/assets/logo.jpg" alt="">
  </header>
</template>

<style lang="scss">
  .header {
    width: 100%;
    border-bottom: 2px solid #F4F2F0;
    display: flex;
    justify-content: center;
    background: #ffffff;
    img {
      margin: 15px;
    }
  }
</style>
