<template>
  <section v-if="show" class="modal">
    <div class="bgModal" v-on:click="toggleModal()"></div>
    <div class="contentModal">
      <img v-if="type === 1" src="@/assets/iconcarts.jpg" alt="">
      <img v-if="type === 2" src="@/assets/iconcarte.jpg" alt="">
      <div v-if="type === 1" class="title">compra confirmada</div>
      <div v-if="type === 2" class="title">compra cancelada</div>
      <div v-if="type === 1"
        class="desc">enviaremos atualizações sobre o pedido para o seu email</div>
      <div v-if="type === 2" class="desc">o pedido não foi enviado e você não será cobrado</div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    type: Number,
    show: Boolean,
  },
  methods: {
    toggleModal: function toggleModal() {
      this.$emit('changeModal', !this.show);
    },
  },
};
</script>

<style lang="scss">
  .modal {
    .bgModal {
      position: absolute;
      width: 100%;
      z-index: 100;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
    }
    .contentModal {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: calc(50% - 90px);
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      margin: auto;
      max-width: 280px;
      min-height: 170px;
      z-index: 110;
      background: white;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      img {
        margin: 24px 0px;
      }
      .title {
        color: #5B5855;
        font-weight: 300;
        font-size: 18px;
      }
      .desc {
        margin-top: 13px;
        font-weight: 300;
        font-size: 14px;
        color: #7D7A77;
        width: 100%;
        max-width: 212px;
      }
      .title, .desc {
        text-align: center;
      }
    }
  }
</style>
