<template>
  <div id="app">
    <Modal :type="modalType" :show="showModal" @changeModal="showModal=$event;"/>
    <Header/>
    <Body @changeModal="showModal=true; modalType=$event"/>
  </div>
</template>

<script>
import Modal from './components/Modal.vue';
import Header from './components/Header.vue';
import Body from './components/Body.vue';

export default {
  name: 'app',
  components: {
    Modal,
    Header,
    Body,
  },
  data() {
    return {
      showModal: false,
      modalType: 1,
    };
  },
};
</script>

<style lang="scss">
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  html, body {
    background: grey;
  }
  #app {
    width: 100%;
    margin: 0 auto;
    max-width: 375px;
    background: #ffffff;
    position: relative;
  }
</style>
